pre-commit
django
djangorestframework
pillow
markdown
django-ckeditor
django-taggit
gunicorn
python-decouple
flake8
whitenoise
django-heroku
dj-database-url
social-auth-app-django==3.1.0
werkzeug==0.16.0
pyOpenSSL==19.0.0
django-extensions==2.2.5