body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
}

a { 
    color:#00abff;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    background:#1f5ca2; 
    height:100%;
    color:#fbfbfb
}

/* pagination */
.pagination ul{
    padding:10px 0;
    text-align:center;
}
.pagination  li{ 
    display: inline-block;
    border: 1px solid #ddd;
    margin:0;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

#header {
    padding:10px 100px;
    font-size:16px;
    background-color:#101112;
    color:rgb(232, 220, 220);
    border-bottom:4px solid #38383e;
    overflow:auto;
    
    
}

#header a, text {
    color:rgb(232, 220, 220);
}
#header .user{
    color:rgb(232, 220, 220);
    float:right;
    
}

#header ul.menu{
    float: left;
    margin:0;
    padding:0;
    list-style: none;
    
}

#header ul.menu li{
    float:left;
    padding:4px 10px 0px 0px;
    
}

#header ul.menu li a {
    display: block;
    color: white;
    text-align: left;
    text-decoration: none;
    float:center;
    
  }

#header a{
    color:white;
}

#header .brand{
    color:rgb(250, 250, 250);
    font-size: 20px;
    margin-right: 5%;
    float:left;
    
}
#header .open-button{
   background-color: #101112;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  
}

/*.navbar-custom {
    background-color: #101112;
    padding: 10px 100px;
    font-size:14px;
    position:fixed;

}
 Modify brand and text color 
 
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color:rgb(250, 250, 250);
}
.navbar-custom .ul.menu{
    position:sticky;
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}

.navbar-custom .ul.menu .li {
    float:left;
    padding:4px 10px;
}



.navbar-custom .a {
    color:#f3f7cc;
}
.navbar-custom .a:hover {
    color:#fff;
}

.navbar-custom .user {
    float:right;
    padding-top:4px;
}  */

/* login popup*/
* {
    box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */


/* The popup form - hidden by default */

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #6d6d70;
  color: rgb(10, 10, 10);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(41, 60, 98);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/* The comment box */
#add_review{
  cursor:pointer;
}

.hidden{display: none;}

.visible{display: block;}

.new_review{
  background-color: pink;
  }

/* profile css */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  
  
  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
 .card  button:hover, a:hover {
    opacity: 0.7;
  }

  /* login form css */

  @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #41488e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #0519f1;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #41488e;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

