{% extends "blog/base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div class="login-page">
    <div class="form">
      
      {% if form.errors %}
        <p>
        Your username and password didn't match.
        Please try again.
        </p>
        {% else %}
        
        
      <form action="{% url 'login' %}" method="post" class="login-form">
        {{ form.as_p}}
        {% csrf_token %}
        <p><a href="{% url 'password_reset' %}">Forgot your password</a></p>
        
        <button>login</button>
        <p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
      </form>
      {% endif %}
    </div>
  </div>
{% endblock %}


